<div id="title">
    <h1>Smart Terrarium</h1>
</div>
<div id="form-container">
    <h3>Reset your password</h3>
    <form>
        <label for="username">Password</label>
        <input type="text" id="username" autocomplete="username">
        <label for="password">Confirm Password</label>
        <input type="password" id="password" autocomplete="current-password">
        <button type="button" id="login-button">Reset Password</button>
    </form>
</div>