<div id="form-container">
    <h2>TEMPERATURE</h2>
    <h4>Smart Terraium</h4>

    <div class="temp">
        <p class="value">32&degC</p>
        <p class="time">Minggu 31 Desember 2023 pukul 19.00</p>
    </div>

    <div class="temp">
        <p class="value">32&degC</p>
        <p class="time">Minggu 31 Desember 2023 pukul 19.00</p>
    </div>

</div>

<div>
    <form action=""></form>
</div>