<div id="title">
    <h1>Smart Terrarium</h1>
</div>
<div id="form-container">
    <h3>Login To Your Account</h3>
    <form>
        <label for="username">Username</label>
        <input type="text" id="username" autocomplete="username">
        <label for="password">Password</label>
        <input type="password" id="password" autocomplete="current-password">
        <button type="button" id="login-button">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a> </p>
    <p>Forget your Password? <a href="/forgotPass">Forget Password</a> </p>
</div>