<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Terraium</title>
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/dropdown.css">
    <link rel="shortcut icon" href="/image/device.svg" type="image/x-icon">
    {{#if styles}}
        {{#each styles}}
            <link rel="stylesheet" href="{{this}}">
        {{/each}}
    {{/if}}
</head>

<body>
    <main>
        <div id="dashboard-main">
            <div id="dashboard">
                <h5>Welcome,</h5>
                <p>{{username}}</p>
            </div>

            <div id="profile">
                <img src="./image/Dashboard Layout.svg" alt="dashboard">
                <h4>Menu</h4>
            </div>

            <div class="drop-down d-none" id="drop-down-container">
                <a href="/">
                    <img src="./image/device.svg" alt="dashboard">
                    Device
                </a>
                <a href="/profile">
                    <img src="./image/profile.svg" alt="dashboard">
                    Profile
                </a>
                <a href="/logout">
                    <img src="./image/loggout.svg" alt="dashboard">
                    Logout
                </a>
            </div>
        </div>

        {{{body}}}
    </main>

    <script src="/js/util/dropdown.js"></script>
    <script src="/js/util/httpRequest.js"></script>
    {{#if scripts}}
        {{#each scripts}}
            <script src="{{this}}"></script>
        {{/each}}
    {{/if}}
</body>

</html>